[Unit]
Description=Tile Image Generator Service
After=network.service

[Service]
Type=simple
WorkingDirectory=/opt/tile-image-gen
ExecStart=/opt/tile-image-gen/venv/bin/python /opt/tile-image-gen/wsgi.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
