[Unit]
Description=Tile Image Generator Service
After=cloudflared.service

[Service]
Type=simple
Restart=always
ExecStart=python2 /root/tile-image-gen/wsgi.py

[Install]
WantedBy=multi-user.target
