<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="UTF-8" />
    <title>Tile Image Generator</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo_transparent.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SJ4XFG0ZS9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SJ4XFG0ZS9');
    </script>

  </head>
  <body>
    <div id="sidebar">
        <header>Tile Image Generator</header>
        <nav>
            <ul>
                <li class="active"><a href="#">Generator</a></li>
                <li><a href="https://updates.tileimagegen.uk">Updates</a></li>
                <li><a href="https://updates.tileimagegen.uk/feedback">Feedback</a></li>
                <li><a href="https://updates.tileimagegen.uk/about">About</a></li>
                <li><a href="https://updates.tileimagegen.uk/downloads">Downloads</a></li>
            </ul>
        </nav>
        <div id="ads">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8424385314773719"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-format="fluid"
                data-ad-layout-key="-gw-3+1f-3d+2z"
                data-ad-client="ca-pub-8424385314773719"
                data-ad-slot="8630400101"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div id="content">
        <article class="form-container">
            <form action="/generate" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="tileName">Tile Name (eg. Charlie Blue)</label>
                    <input type="text" name="tileName" id="tileName" required />
                </div>
                <div>
                    <label for="drop-area">Add Images</label>
                    <label id="drop-area" for="images">
                        <span class="file-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                            </svg>
                        </span>
                        <span id="drop-area-text">
                            Drop files to Attach, or <span class="text-blue-600 underline">browse</span>
                        </span>
                    </label>
                    <input id="images" type="file" name="images" accept="image/*" class="hidden" multiple required>
                </div>
                <div class="grid">
                    <div>
                        <label for="tileWidth">Tile Width (mm)</label>
                        <input type="number" name="tileWidth" id="tileWidth" required />
                    </div>
                    <div>
                        <label for="tileHeight">Tile Height (mm)</label>
                        <input type="number" name="tileHeight" id="tileHeight" required />
                    </div>
                </div>
                <div>
                    <label for="layoutType">Layout Type</label>
                    <select name="layoutType" id="layoutType" required>
                        <option value="stacked">Horizontal Block</option>
                        <option value="brickBond">Horizontal 1/2 Block</option>
                        <option value="third">Horizontal 1/4 Block</option>
                        <option value="vertStacked">Vertical Block</option>
                        <option value="vertBrick">Vertical 1/2 Block</option>
                        <option value="vertThird">Vertical 1/4 Block</option>
                        <option value="basketWeave">Basket Weave (2:1 - 6:1)</option>
                        <option value="herringbone">Herringbone (2:1 - 6:1)</option>
                        <option value="hexagon">Hexagon</option>
                    </select>
                </div>
                <div class="grid">
                    <div>
                        <label for="groutSize">Grout Size (mm)</label>
                        <input type="number" name="groutSize" id="groutSize" required />
                    </div>
                    <div>
                        <label for="groutColour">Grout Colour</label>
                        <select name="groutColour" id="groutColour" required>
                            <option value="" disabled selected>Please Select A Colour</option>
                            <option value="" disabled>BAL Range</option>
                            <option value="#d1d1cf" data-value="#d1d1cf">Gunmetal</option>
                            <option value="#9e9fa4" data-value="#9e9fa4">Smoke</option>
                            <option value="#473938" data-value="#473938">Dovetail</option>
                            <option value="#516d71" data-value="#516d71">Tornado Sky</option>
                            <option value="#817670" data-value="#817670">Taupe Grey</option>
                            <option value="#485a68" data-value="#485a68">Storm Grey</option>
                            <option value="#414550" data-value="#414550">Anthracite</option>
                            <option value="#211f20" data-value="#211f20">Ebony</option>
                            <option value="#ffffff" data-value="#ffffff">White</option>
                            <option value="#f5eed4" data-value="#f5eed4">Jasmine</option>
                            <option value="#dac9b7" data-value="#dac9b7">Pebble</option>
                            <option value="#76480d" data-value="#76480d">Walnut</option>
                            <option value="#623d13" data-value="#623d13">Hazel</option>
                            <option value="#623619" data-value="#623619">Mahogany</option>
                            <option value="#cadee5" data-value="#cadee5">Cornflower White</option>
                            <option value="#b6d6cb" data-value="#b6d6cb">Peppermint</option>
                            <option value="#f2c7c0" data-value="#f2c7c0">Pink Champagne</option>
                            <option value="#fbf6cc" data-value="#fbf6cc">Primrose</option>
                            <option value="" disabled>UltraTile Range</option>
                            <option value="#ffffff">White</option>
                            <option value="#ece1ab">Cream</option>
                            <option value="#e0cdbc">Bahama Beige</option>
                            <option value="#efe3d3">Jasmine</option>
                            <option value="#cdc9bd">Limestone</option>
                            <option value="#5e5b54">Taupe</option>
                            <option value="#716152">Brown</option>
                            <option value="#afb3b4">Silver Grey</option>
                            <option value="#a6acac">Mid-Grey</option>
                            <option value="#8d9193">Grey</option>
                            <option value="#4c5157">Charcoal</option>
                            <option value="#000000">Black</option>
                        </select>
                    </div>
                </div>
                <button class="button" type="submit">Generate</button>
            </form>
        </article>
        <article id="updates">
            <h2>Latest Update</h2>
            <p id="latest-post">Loading latest post...</p>
        </article>
        <article id="footer">
            <p>&copy; <span id="year"></span> - Aidan Warner</p>
            <p>Source code is available <a href="https://github.com/AidanWarner97/tile-image-gen" target="_blank">here</a></p>
        </article>
        
    </div>

    <script>
        const dropArea = document.getElementById('drop-area');
        const fileInput = document.getElementById('images');
        const dropAreaText = document.getElementById('drop-area-text');
    
        dropArea.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropArea.classList.add('border-blue-600');
        });
    
        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('border-blue-600');
        });
    
        dropArea.addEventListener('drop', (event) => {
            event.preventDefault();
            dropArea.classList.remove('border-blue-600');
            const files = event.dataTransfer.files;
            fileInput.files = files;
            updateDropAreaText(files.length);
        });
    
        fileInput.addEventListener('change', () => {
            const files = fileInput.files;
            updateDropAreaText(files.length);
        });
    
        function updateDropAreaText(fileCount) {
            if (fileCount > 0) {
                dropAreaText.innerHTML = `${fileCount} image${fileCount > 1 ? 's' : ''} added`;
            } else {
                dropAreaText.innerHTML = 'Drop files to Attach, or <span class="text-blue-600 underline">browse</span>';
            }
        }

        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
    <script>
        async function fetchLatestPost() {
            const blogUrl = "https://updates.tileimagegen.uk/wp-json/wp/v2/posts?per_page=1";
            
            try {
                const response = await fetch(blogUrl);
                const posts = await response.json();

                if (posts.length > 0) {
                    const post = posts[0];
                    let excerpt = post.excerpt.rendered.replace(
                        /<a /g, 
                        '<a target="_blank" '
                    );
                    document.getElementById("latest-post").innerHTML = `
                        <h2><a href="${post.link}" target="_blank">${post.title.rendered}</a></h2>
                        <p>${excerpt}</p>
                    `;
                } else {
                    document.getElementById("latest-post").innerHTML = "<p>No posts found.</p>";
                }
            } catch (error) {
                document.getElementById("latest-post").innerHTML = "<p>Failed to load the latest post.</p>";
                console.error("Error fetching latest post:", error);
            }
        }

        fetchLatestPost();
    </script>
  </body>
</html>
